.custom-spin:hover{
  animation: rotate;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1s; 
}

@keyframes rotate {
  0% {
      transform: rotate(0);
  }
  90%{
    transform: rotate(380deg);
  }
  100% {
      transform: rotate(360deg);
  }
}